<!-- <div class="{{ expanded ? 'container expanded' : 'container collapsed' }}">
  <ul *ngIf="menulist && menulist.length > 0">
    <li *ngFor="let item of menulist" class="parent-item">
      <div class="item-container">
        <a routerLink="{{ item.path }}" routerLinkActive="active-link" (click)="toggleSubMenu(item)"><i *ngIf="item.icon" class="material-icons">{{ item.icon }}</i><span class="title-span">{{ item.title }}</span></a>
      </div>
      <ul *ngIf="item.subItems && item.subItems.length > 0" [hidden]="!item.expand">
        <li *ngFor="let subitem of item.subItems" class="child-item">
          <a routerLink="{{ subitem.path }}" routerLinkActive="active-link">{{ subitem.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div> -->
<div class="logo"
    [ngClass]="{'logo-small': collapsed}"
    (click)="redirectHome()"></div>

<mat-list *ngFor="let item of menulist" class="main-menu">
    <a mat-list-item class="parent-item"
      [ngClass]="{'active-link': router.isActive(item.path)}"
      (click)="navigateTo(item.path)">
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <h3 matLine [ngClass]="{hidden: collapsed}">
          {{ item.title }}
        </h3>
    </a>
    <a mat-list-item class="child-item"
      [ngClass]="{hidden: collapsed, 'active-link': router.isActive(subItem.path)}"
      *ngFor="let subItem of item.subItems"
      (click)="navigateTo(subItem.path)">
        <mat-icon matListIcon>_</mat-icon>
        <h3 matLine>
          {{ subItem.title }}
        </h3>
    </a>
</mat-list>
