<div mat-dialog-content >
    <h3>
        Get Your Passphrase
    </h3>
    <div class="section">
        We have created a passphrase for you in the box below.<br />
        This passphrase lets you access your wallet and the funds it contains.
    </div>
    <div class="passphrase-section">
        <b>stress tell drop butterfly work dove grey illusion puff jaw bond freeze</b>
    </div>
    <div class="passphrase-alert">
        <b>Write your passphrase down and keep it safe.</b>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)">Ok</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
</div>