<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="apple-touch-icon" sizes="180x180" href="<%= APP_BASE %>assets/brand/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= APP_BASE %>assets/brand/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= APP_BASE %>assets/brand/favicon-16x16.png?v=2">
  <link rel="manifest" href="<%= APP_BASE %>assets/brand/manifest.json">
  <link rel="mask-icon" href="<%= APP_BASE %>assets/brand/safari-pinned-tab.svg?v=2" color="#f07622">
  <link rel="shortcut icon" href="<%= APP_BASE %>assets/brand/favicon.ico?v=2">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="<%= APP_BASE %>assets/brand/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">  
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48993004-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-48993004-8', { 'send_page_view': false });
    // gtag('config', 'UA-48993004-8');
  </script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<section class="mat-typography">
  <sd-app>Loading...</sd-app>
</section>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it.');
    });
  </script>
  <% } %>

</body>
</html>
