@import '../all-theme';
@import '../theming';
@import '../palette';

// Include non-theme styles for core.
//@include mat-core();

// Define a theme.
$primary: paragba-palette($paragba-corp-grey, 500);
$accent: paragba-palette($paragba-blue, 500);
$warn: paragba-palette($paragba-corp-cyan, 500);

$theme: paragba-light-theme($primary, $accent, $warn, $paragba-fonts);

// Include all theme styles for the components.
@include paragba-theme($theme);
