<span class="title">{{ pageTitle }}</span>
<span class="flex-spacer"></span>
<!--
<span class="help-text">{{ helpText }}</span>
<a class="help-link" *ngIf="!isMobile" title="Help" (click)="showHelp()"><i class="material-icons help">help</i></a>
<button mat-raised-button class="logout" (click)="logout()">Log Out</button>
-->


<!-- This is menu, not select control -->
<!--<button mat-button [matMenuTriggerFor]="userMenu">
  {{ this.userFullName }}<i class="material-icons">keyboard_arrow_down</i>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="headerAction('logout')">Log Out</button>
</mat-menu>
-->
