@import "../../scss/theming/theming";
@import "../../scss/theming/palette";

@mixin all-devices-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $paragba-fonts: map-get($theme, fonts);

  .add-btn-section {
    button {
      background-color: paragba-color($warn);
    }

    .cancel {
      background-color: paragba-color($primary);
    }
  }

  .clickable-row:hover {
    background-color: paragba-color($warn);
  }
}
