<div class="top-flex">
    <div class="device-container">
            <mat-accordion>
                    <mat-expansion-panel [expanded]="!allDevicesOpenState" >
                        <mat-expansion-panel-header class="add-device-header">
                            <mat-panel-title>
                                <b>Add a New Device</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <form class="device-form">
                            <table class="form-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="form-full-width">
                                            <input matInput placeholder="Device name" [(ngModel)]="newDevice.DeviceName" name="deviceName" required>
                                            <mat-error>This field is required</mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="form-full-width">
                                            <input matInput placeholder="Device key" [(ngModel)]="newDevice.DeviceKey" name="deviceKey" required>
                                            <mat-error>This field is required</mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="form-third-width">
                                            <mat-select placeholder="Device type" [(ngModel)]="selectedDeviceType" name="type">
                                                <mat-option *ngFor="let type of deviceTypes" [value]="type.deviceTypeId">
                                                    {{ type.deviceTypeName }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="add-btn-section">
                                            <button mat-raised-button (click)="add()" [disabled]="isLoading">{{ isLoading ? 'Adding your device...' : 'Add Device' }}</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                              
                    </mat-expansion-panel>
                    <p></p>
                    <mat-expansion-panel [expanded]="allDevicesOpenState" (opened)="allDevicesOpenState = true"
                                            (closed)="allDevicesOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>My Devices</b>
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="devices-container mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource" matSort>
                            
                                <!-- Position Column -->
                                <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Device Id </mat-header-cell>
                                <mat-cell *matCellDef="let device"> {{ device.deviceId }} </mat-cell>
                                </ng-container>
                            
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </mat-header-cell>
                                <mat-cell *matCellDef="let device"> {{ device.deviceName }} </mat-cell>
                                </ng-container>
                            
                                <!-- Weight Column -->
                                <ng-container matColumnDef="key">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Device Key </mat-header-cell>
                                <mat-cell *matCellDef="let device"> {{ device.deviceKey }} </mat-cell>
                                </ng-container>
                            
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Device Type </mat-header-cell>
                                <mat-cell *matCellDef="let device"> {{ device.type.deviceTypeName }} </mat-cell>
                                </ng-container>
                            
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row class="clickable-row" *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)"></mat-row>
                            </mat-table>
                        </div>
                    </mat-expansion-panel>
                    </mat-accordion>
    </div>
</div>
    