// @import '../../../scss/main.scss';
// @import "../../../scss/theming/theming";
// @import "../../../scss/theming/palette";
// @import "../../../scss/theming/mixins";

.device-form {
    min-width: 80%;
    width: 100%;
  }
  
  .form-full-width {
    width: 100%;
  }

  .form-third-width {
    width: 30%;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

.add-btn-section {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%;
}

.clickable-row{
  cursor: pointer;
}

 