<table class="form-full-width" cellspacing="0">
    <tr>
        <td>
            <b>Device Id:&nbsp;</b>{{ currentDevice.deviceId }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Device Key:&nbsp;</b>{{ currentDevice.deviceKey }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Device Name:&nbsp;</b>{{ currentDevice.deviceName }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Device Type:&nbsp;</b>{{ currentDevice.type.deviceTypeName }}
        </td>
    </tr>
</table>