<div class="center-flex">
  <div class="login-container">

    <mat-card class="login-card">

      <mat-card-header>
        <div class="login-header-image"></div>
      </mat-card-header>

      <mat-card-content>
        <form class="form-horizontal login"
            name="loginForm"
            #form="ngForm"
            novalidate
            (ngSubmit)="onSubmit()">

          <p class="welcome-message text-primary">
            <span>Forgot Password</span>
          </p>

          <p *ngIf="!reason">
            Please enter your email address and we will send you a link to reset your password.
          </p>

          <p *ngIf="reason == 'expired'">
            <b>Your reset link has expired.</b> Please enter you email address and we will send you a new link.
          </p>

          <div class="login-form">

            <mat-form-field class="full-width">
              <input matInput
                type="email"
                placeholder="Email"
                [(ngModel)]="userLogin.email"
                ngControl="email"
                name="email"
                required />
              <mat-error>This field is required</mat-error>
            </mat-form-field>

          </div>

          <br>

          <div class="login-btn-section">
            <button mat-raised-button
                class="loginBtn full-width"
                type="submit"
                [disabled]="isLoading">
                {{ isLoading ? 'Submitting...' : 'Submit' }}
            </button>
          </div>

        </form>
      </mat-card-content>

      <mat-card-content>
        <div>
          {{ helpText }}
        </div>
      </mat-card-content>

    </mat-card>

  </div>
</div>
