@import '../../scss/theming/mixins.scss';
.login-message {
  padding-top: 50px;
  text-align: center;
}

.welcome-message {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.forgot-password-message {
  padding-top: 20px;
}

.rememberme-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.forgot-password {
  cursor: pointer;
  text-decoration: underline;
}

.loginBtn {
  color: white;
}