<div class="center-flex">
  <div class="login-container">

    <mat-card class="login-card">

      <mat-card-header>
        <div class="login-header-image"></div>
      </mat-card-header>

      <mat-card-content>
        <form class="form-horizontal login"
            name="loginForm"
            #form="ngForm"
            novalidate
            (ngSubmit)="onSubmit()">

          <p class="welcome-message text-primary">
            <span>Password Reset</span>
          </p>

          <p>Please choose a new password.</p>
          <p class="text-accent">
              Password should contain minimum 8 characters, at least one digit, one upper case and one lower case letter.
          </p>

          <div class="login-form">

            <mat-form-field class="full-width">
              <input matInput
                type="password"
                placeholder="Password"
                [(ngModel)]="userLogin.password"
                ngControl="password"
                name="password"
                [pattern]="passwordPattern"
                #password="ngModel"
                required />
              <mat-error *ngIf="password.hasError('required')">
                This field is required
              </mat-error>
              <mat-error *ngIf="password.hasError('pattern')">
                Password not correct format
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput
                     type="password"
                     placeholder="Confirm Password"
                     [(ngModel)]="userLogin.confirmPassword"
                     ngControl="confirmPassword"
                     name="confirmPassword"
                     required />
              <mat-error *ngIf="password.hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>

          </div>

          <br>

          <div class="login-btn-section">
            <button mat-raised-button
                class="loginBtn full-width"
                type="submit"
                [disabled]="isLoading">
                {{ isLoading ? 'Loggin in...' : 'Login' }}
            </button>
          </div>

        </form>
      </mat-card-content>

      <mat-card-content>
        <div>
          {{ helpText }}
        </div>
      </mat-card-content>

    </mat-card>

  </div>
</div>
