@import '../scss/theming/mixins.scss';

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 54px;
}

.left-pane {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  width: auto;
  //z-index: 1001;

  a {
    cursor: pointer;
  }

  .container {
    padding: 15px 0 0;
  }
}

.left-pane::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

.left-pane::-webkit-scrollbar-thumb {
  background: #9E9E9E;
}

/* Override material design theme start */
/*.mat-card-title {
  font-size: 10px !important;
}*/
/* Override material design theme ends */

/* Override time picker styling begin */
.owl-dateTime-dialog {
  width: 100%;

  .owl-timer {
    width: 50% !important;
  }
}

.owl-datetime-main-input {
  padding-right: 0 !important;
}

.owl-calendar-wrapper,
.owl-timer-wrapper {
  padding: 0 !important;

  .owl-timer-input {
    width: 100% !important;
  }

  .owl-timer-text {
    font-size: .8em !important;
    padding: 0 !important;
    text-align: center;
  }
}

.owl-datetime-input{
  //padding: 0 .9em !important;
}
/* Override time picker styling end */
/*.expanded {
  width: 154px;
  overflow-x: hidden;
  overflow-y: auto;
}

.collapsed {
  width: 50px;
  overflow-x: unset;
  overflow-y: unset;
}*/
.body {
  // position: absolute;
  // margin-top: 48px;
  // top: 0px;
  // left: 0px;
  // right: 0px;
  // bottom: 0px;
  // overflow-y: auto;
}

.app-container {
  // display: flex;
  // flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .mat-sidenav-container {
    // flex: 1;
  }
  .app-body {
    padding: 5px;
    @include tablet {
      padding: 15px;
    }
  }
  &__login-bg {
      background-image: url('assets/images/login-bg.jpg');
      background-size: cover;
      background-position: 50% 30%;
  }
}



// .body.full {
//   margin-left: 0px;
//   margin-left: 0px;
//   background-image: url('assets/images/login-bg.jpg');
//   background-size: cover;
//   background-position: 50% 30%;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

.body.partial {
  margin-left: 250px;
  padding: 20px;
}
// .mat-driwer {
//   box-shadow: 0 0 10px rgba(0,0,0,0.3);
// }